* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--app-bg: #1e1e1e;
}

html {
	font-size: 62.5%;
}

.app-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--app-bg);
}
