:root {
	--app-bg: #1e1e1e;
}

@font-face {
	font-family: circular-medium;
	src: url(./assets/circular-std-medium.ttf);
}
@font-face {
	font-family: circular-book;
	src: url(./assets/circular-std-book.ttf);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: circular-book;
}

html {
	font-size: 62.5%;
}

.app-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--app-bg);
}
